body{
    background-image: url(../PracticaWEB1/images/fondo/fondo.jpg);
    width: 100%;
    min-height: 200vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

body::before{
    content: "";
    width: 100%;
    min-height: 570vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, black,gray);
    opacity: 0.7;
    z-index: -1;

}

.logo-container{
    
    width: max-content;
    padding-top: 50px;
}

.nav-container{
    font-family:'Londrina Solid';
    font-size: x-large;
}

.navegador{
    float: left;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}

.slide-container{
    color: aliceblue;
}

.main-container{
    padding-top: 10vh;
    color: aliceblue;
}

.main2-container{
    
    padding-top: 10vh;
    color: aliceblue;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*     PAGINA CONTACTO    */

.contacto-container{
    padding-top: 15vh;

}

/*     PAGINA JUGA    */

.respuesta-adivinanza{
    padding-top: 5vh;

}

.btn-container{
    padding-top: 5vh;
    text-align: center;
}   

/*     PAGINA JUGA    */

.menu-container{
    text-align: center;
}
